body {
    text-align: center;
    margin: 0px;
    padding: 0px;
    /*Fuentes*/
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    background-image: url(/root/images/imagen3.jpeg);
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    margin: 0; /* Elimina el margen por defecto del body */
    padding: 0; /* Elimina el padding por defecto del body */
  }


#header {
    height: 120px;
    width: 100%;
    
    border-bottom: 1px solid #dcbadd;
   
  }
  
  #logo {
    width: 30%;
    font-size: 28px;
    float: left;
    margin-top: 35px;
  }
  
  #logo img {
    height: 75px;
    float: left;
    display: block;
    /*margenes*/
    margin-top: -15px;
    margin-right: 10px;
    /*animaciones*/
    animation: girar infinite 5s linear;
    margin-left: 50px
  }

  #menu {
    width: 70%;
    float: right;
    font-size: 18px;
  }
  
  #menu ul {
    line-height: 85px;
    width: 60%;
    float: right;
  }
  
  #menu ul li {
    list-style: none;
    display: inline-block;
    height: 46px;
    margin-left: 15px;
    margin-right: 15px;
  }
  
  #menu a {
    text-decoration: none;
    color: #153448;
    transition: 300ms all;
  }
  
  #menu a::hover {
    color: red;
  }

  .container {
    display: flex;
    align-items: flex-start;  /* Alinea la imagen y el contenedor de texto al inicio */
    padding: 20px;
}

.img2 {
    margin-right: 20px;  /* Espacio entre la imagen y el texto */
    width: 400px;  /* Ajusta el tamaño de la imagen */
}

.text-content {
    display: flex;
    flex-direction: column; /* Alinea el h1 y el p verticalmente */
}

h1 {
    margin: 0 0 20px 0; /* Añade espacio debajo del h1 */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    margin: 0;  /* Elimina márgenes adicionales */
    line-height: 1.6;
    max-width: 800px; /* Opcional: define un ancho máximo para el párrafo */
}

/* Estilos para la cuadrícula */
.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Cambia a 1 columna de igual ancho */
  gap: 10px; /* Espacio entre los divs */
  padding: 20px;
  width: 900px;
  margin: 0 auto; /* Centra la grid-container horizontalmente */
}

.grid-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    background: #af7ac5;
    border-radius: 9px;
    background: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.grid-item img {
  max-width: 100px; /* Ajusta el tamaño máximo de la imagen */
  height: auto; /* Mantiene la proporción de la imagen */
  margin-bottom: 10px; /* Espacio entre la imagen y el texto */
}




